html
	head
		title Capstone_20151567
		link(rel="shortcut icon" type="image/x-icon" href="icon.png")
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
		script(src="https://www.gstatic.com/charts/loader.js" type="text/javascript")
	
	body
		header.navbar.navbar-expand.navbar-light.bg-light.flex-column.flex-md-row.bd-navbar
			a.navbar-brand.h1.m-0(href="#") Capstone_Design
			div.ml-auto Jimin Oh	
	script
		
